<!doctype html>
<html data-framework="vue" class="dark:bg-slate-900 dark:text-white">
	<head>
		<meta charset="utf-8">
		<title>Dogs</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://dogs.gabe.io/output.css" crossorigin="anonymous">
		<style>[v-cloak] { display: none; }</style>
		<script src="https://unpkg.com/dayjs@1.10.7" integrity="sha384-9JzPji3H5JWTDH9YVzCzwcYfi/YKvzcn/nYbC1yEmDyrKOymEnU5jb3AFgaoLtSZ" crossorigin="anonymous"></script>
		<script src="https://unpkg.com/dayjs@1.10.7/plugin/relativeTime.js" integrity="sha384-ssUzPQXjLHLO39a9AiuwxnnyDxIvOMUxEQpqfreUaW7jLEdDAXiF6UooZRO53F6Z" crossorigin="anonymous"></script>
	</head>
	<body>
		<div class="dogs relative flex flex-col justify-center overflow-hidden p-6 pt-12" v-cloak>
			<div class="w-full relative sm:mx-auto">
				<div class="mx-auto space-y-20 text-base">
					<div v-for="dog in dogs">
						<div v-if="dog.value">
							<button class="w-full mx-auto h-14 rounded-xl bg-red-500 px-6 font-semibold text-white" v-on:click="inside(dog)">Bring in {{ dog.name }} ({{ since(dog) }})</button>
						</div>
						<div v-if="!dog.value">
							<button class="w-full mx-auto h-14 rounded-xl bg-green-500 px-6 font-semibold text-white" v-on:click="outside(dog)">Put out {{ dog.name }} ({{ since(dog) }})</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="https://unpkg.com/@sentry/vue@6.17.6/build/bundle.vue.min.js" integrity="sha384-5lMP4KZnDzoxDpvI5v9QJZz/MeBnqyFA0I+5WnvrcYPCCGOEvB3h/Om1vtS2ysLB" crossorigin="anonymous"></script>
		<script src="https://unpkg.com/@auth0/auth0-spa-js@1.22.0/dist/auth0-spa-js.production.js" integrity="sha512-2XUvf5C7ROiWzbml0uA4fB2DkGPfQInc/Bf80cys1Sz5AcQ2xi4l5CH79AspdMNLo7R+cHtmRyFGi3t73g9osg==" crossorigin="anonymous"></script>
		<script src="https://unpkg.com/async@3.2.4/dist/async.min.js" integrity="sha512-0ewcnFb590plq2BJFUSpSbysjDZaj1Jsdkqt5ldhGE/nXJFCbhI/hXuonRIft5WwwlPj87/k3NU2wUyAWUJV0w==" crossorigin="anonymous"></script>
		<script src="https://unpkg.com/vue@3.2.37/dist/vue.global.prod.js" integrity="sha512-VC8LIX6RUdL/9FVtkhQhUB9Z4rTs9s6gPUtxXRaIlSQWFUOpiBptW8NXZbH3l/nbXqLsueQGz1uERtmlf9HjFA==" crossorigin="anonymous"></script>
		<script src="app.js"></script>
	</body>
</html>
