<!doctype html>
<html data-framework="vue">
	<head>
		<meta charset="utf-8">
		<title>Dogs</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css"></link>
		<style>[v-cloak] { display: none; }</style>
	</head>
	<body>
		<section class="dogs container-fluid">
			<span class="row" v-for="dog in dogs">
				<span class="col" v-if="dog.value">
					<span class="d-grid gap-2">
						<button class="btn btn-danger btn-lg" v-on:click="inside(dog)"> {{ dog.name }} </button><br />
					</span>
				</span>
				<span class="col" v-if="!dog.value">
					<span class="d-grid gap-2">
						<button class="btn btn-success btn-lg" v-on:click="outside(dog)"> {{ dog.name }} </button><br />
					</span>
				</span>
			</span>
		</section>
	
		<script src="https://unpkg.com/async@3.2.0/dist/async.js"></script>
		<script src="https://unpkg.com/vue@next"></script>
		<script async src="app.js"></script>
	</body>
</html>
