<!doctype html>
<html data-framework="vue">
	<head>
		<meta charset="utf-8">
		<title>Dogs</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
		<style>[v-cloak] { display: none; }</style>
	</head>
	<body>
		<section class="dogs container-fluid">
			<div class="row" v-for="dog in dogs">
				<div class="col d-flex" v-if="dog.value">
					<div class="d-grid gap-2">
						<button class="btn btn-danger btn-lg" v-on:click="inside(dog)"> {{ dog.name }} </button><br />
					</div>
				</div>
				<div class="col d-flex" v-if="!dog.value">
					<div class="d-grid gap-2">
						<button class="btn btn-success btn-lg" v-on:click="outside(dog)"> {{ dog.name }} </button><br />
					</div>
				</div>
			</div>
		</section>
	
		<script src="https://unpkg.com/async@3.2.0/dist/async.js"></script>
		<script src="https://unpkg.com/vue@next"></script>
		<script async src="app.js"></script>
	</body>
</html>
